// Cores padrão do Quasar
$primary = #027BE3
$secondary = #26A69A
$tertiary = #555
$positive = #21BA45
$negative = #DB2828
$negative-l = #EC8B8B
$info = #31CCEC
$warning = #F2C037
$warning-l = #F8DD93
$light = #BDBDBD
$light-d = #AAA
$faded = #777
$dark = #424242

// Variáveis de cores - Mockup
$azul1 = #0771BC
$azul2 = #26A69A
$cinza1 = #666666
$cinza2 = #808080
$cinza3 = #B3B3B3
$cinza4 = #F4F4F4
$vermelho = #DF4A32
$vermelho2 = #E84041
$vermelho3 = #E52421
$purpura = #B846CC
$fundo = #F5F5F5
